<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:replace="base :: header"></div>

<script th:src="@{/js/vendor/adding_users.js}"></script>

<div align="center" class="container">
    <h2 class="danger" th:text="${error}"></h2>
    <form id="inserting_form">
        <h2 class="form-heading" align="middle">Добавьте пользователей в очередь</h2>
        <button class="btn btn-success btn-sm" onclick="return addline();">Добавить нового</button>
        <div align="center" class="form-inline">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email">
            <button class="btn btn-danger btn-sm">Удалить</button>
        </div>
        <button id="button" type="submit" class="btn btn-lg btn-primary">Добавить</button>
    </form>
</div>
</html>