<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<div th:replace="base :: header"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="col-lg-5 col-md-5 col-sm-5" style="margin-top: 30px; margin-left: 50px ">

    <h1>
        <span>Моя группа:</span>
        <small th:text="${groupName}" ></small>
    </h1>
    <div class="info" role="alert" th:if="${queueName} != null">
        <h2>
            <span>Очередь:</span>
            <small th:text="${queueName}" ></small>
        </h2>
    </div>
    <div class="alert  alert-info" role="alert" th:if="${error} != null" th:text="${error}">
        <!--/*@thymesVar id="error" type="aj"*/-->
    </div>
    <table class="table table-striped " th:if="${error} == null">
        <!--/*@thymesVar id="error" type="aj"*/-->
        <caption>Ваши одногруппники</caption>
        <thead class="thread-dark">
        <tr>
            <th scope="col" align="center">#</th>
            <th scope="col" align="center">Имя</th>
            <th scope="col" align="center">E-mail</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="java"*/-->
        <tr th:each="user, iter : ${users}">
            <td th:text="${iter.count}" >1</td>
            <td th:text="${user.name}" >1</td>
            <td th:text="${user.email}" >1</td>
        </tr>
        </tbody>
    </table>
</div>
</html>
