<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="base :: header"></div>

<div class="container" style="margin-top: 30px">
    <div class="alert  alert-info" role="alert" th:if="${error} != null" th:text="${error}">
        <!--/*@thymesVar id="error" type="aj"*/-->
    </div>
    <table align="center" width="1000" border="1" class="table" style="margin-top: 40px" th:if="${error == null}">
        <thead class="thread-dark">
        <tr bgcolor="#6495ed">
            <th scope="col" align="center">#</th>
            <th scope="col" align="center">Мои очереди</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="partyQueues" type="java"*/-->
        <tr th:each="queue, iter : ${partyQueues}"
            th:onclick="'window.location.href = \'' + @{/queue?id={id}(id=${queue.queueId})} + '\''">
            <td th:text="${iter.count}">1</td>
            <td th:text="${queue.queueName}">1</td>
        </tr>
        </tbody>
    </table>

        <table align="center" width="1000" border="1" class="table" th:if="${error == null}">

            <thead class="thread-dark">
            <tr bgcolor="#6495ed">
                <th scope="col" align="center">Доступные очереди</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="userQueues" type="java"*/-->
            <tr th:each="queue, iter : ${userQueues}"
                th:onclick="'window.location.href = \'' + @{/queue?id={id}(id=${queue.queueId})} + '\''">
                <td th:if="${queue.queueName != null}" th:text="${queue.queueName}">1</td>
            </tr>
            </tbody>

</div>
</html>