<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="base :: header"></div>

<div class="container">

    <form class="form-signin" method="post" action="/signin">
        <h2 class="form-signin-heading" align="middle">Начните занимать очередь</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="e-mail адрес" required
               autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="пароль"
               required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>

</div> <!-- /container -->
</body>
</html>
