<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="base :: header"></div>


<div class="container">
    <h1 class="form-signin-heading" align="middle">Добро пожаловать!</h1>
    <h2 class="form-signin-heading" align="middle">Вы находитесь на сервисе для создания очередей</h2>

    <form class="form-signin" action="/signup">
        <button type="submit" class="btn btn-primary btn-lg">Зарегистрироваться</button>
    </form>

    <form class="form-signin" action="/signin">
        <button type="submit" class="btn btn-primary btn-lg">Войти</button>
    </form>

</div>
</body>
</html>